{% extends 'base.html' %}
{% block navbar%}
{% endblock %}
{% block body %}

<div class="text-center">
    <h1>Recuperar Contraseña</h1>
</div>

<form method="post">
	{% csrf_token %}

    <div class="mx-auto col-sm-6">
        <div class="row">
    		{% include 'commons/error_form.html' %}
		</div>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="new_password1">Contraseña:</label>
                    <input class="form-control" type="password" name="new_password1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="new_password2">Contraseña:</label>
                    <input class="form-control" type="password" name="new_password2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Cambiar">
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
