{% extends 'base.html' %}
{% block navbar%}
{% endblock %}
{% block body %}

<div class="text-center">
    <h1>Recuperar Contraseña</h1>
</div>

<form method="post">
	{% csrf_token %}

    <div class="mx-auto col-sm-6">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_email">Correo:</label>
                    <input class="form-control" type="text" name="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
